@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // get selected culture
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    // get all supported cultures
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(a => new SelectListItem {Value = a.Name, Text = a.DisplayName}).ToList();

    // specify path by request path value
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<form method="post" asp-controller="Home" asp-action="SetCulture" asp-route-returnUrl="@returnUrl">
    
    <select name="culture" class="form-control" onchange="this.form.submit();" 
            asp-for="@requestCulture.RequestCulture.UICulture.Name" 
            asp-items="cultureItems">
    </select>
    
</form>