
<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about building Web apps with ASP.NET Core", "https://docs.microsoft.com/aspnet/core"]</p>
    <p>@SharedLocalizer["This is a common text."]</p>
</div>
